body {
  margin: 0;
  background-color: #f4fcff;
  font-family: "Nunito", sans-serif;
}

.navbar {
  margin: 20px 60px 20px 60px;
  display: grid;
  grid-template-columns: 17.5% 47.5% 17.5% 17.5%;
  align-items: center;
}

.logo {
  font-size: 2rem;
  vertical-align: middle;
}

.logo > img {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #3f3f3f;
  border-radius: 50%;
}

.search {
  display: grid;
  grid-template-columns: 15% 85%;
  width: 90%;
  height: 80%;
  margin: auto;
  border-radius: 8px;
  align-items: center;
  background-color: #fdfdfa;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.05);
}

.search > img {
  padding-left: 20px;
  color: #888888;
}

.search > p {
  font-size: 1.1rem;
  color: #888888;
}

.profile {
  margin: auto;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30px 20px;
}

.image {
  grid-area: 1 / 1 / span 2;
}

/*****************************/
/*********MAIN BODY***********/
/****************************/

.mainBody {
  display: grid;
  grid-template-columns: 19% 81%;
  padding: 0px 60px 40px 60px;
  border-top: 1px solid #0000001e;
}

.grid {
  border-right: 1px solid #0000001e;
}

/*********SIDEBAR***********/

.sidebar {
  display: grid;
  grid-template-rows: 20% 40% 40%;
  margin-top: 40px;
}

.location {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 90%;
  border-radius: 8px;
  align-items: center;
  background-color: #fdfdfa;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.05);
}

.location > img {
  padding: 0px 10px 0px 10px;
  color: #888888;
}

.location > p {
  font-size: 1rem;
  color: #888888;
}

/*********DETAILS**********/
.details {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 90%;
  height: 70%;
  border-radius: 8px;
  align-items: center;
}

.details > img {
  padding: 0px 10px 0px 10px;
}

.details > p {
  font-size: 1rem;
}

/***********CATEGORY***********/

.categorySection {
  width: 100%;
  margin: auto;
  padding: 40px 30px 0 30px;
}

.categoryList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  width: 80%;
}

.categoryCard {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -3px 5px 10px 1px rgba(0, 0, 0, 0.08);
  margin: auto;
}

.categoryCard:hover {
  box-shadow: -3px 5px 10px 1px rgba(0, 0, 0, 0.16);
}

/***********PRODUCTS**********/

.productList {
  margin-top: 40px;
}

.products {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  row-gap: 20px;
  column-gap: 40px;
  margin: auto;
  justify-content: center;
}

.item {
  display: grid;
  grid-template-rows: 70% 10% 10% 10%;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: -3px 5px 10px 1px rgba(0, 0, 0, 0.16);
}

.add {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  color: rgb(0, 153, 255);
  border: 1px solid rgb(0, 153, 255);
  border-radius: 2px;
  background-color: #fff;
  width: 70%;
  padding: 8px;
  margin: 10px 0px 10px 0px;
}

.add > img {
  padding: 0px 10px 0px 5px;
}

.productImage {
  width: 80%;
  height: 80%;
  padding-left: 20px;
}

.productTitle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

/**************FOOTER************************/

.footer {
  padding: 20px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  background-color: #a2c7ff;
}

.icons {
  grid-column: 1 / span 3;
}

.icons img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  text-align: center;
}
